/.gradle/
/bin/
private_tokens.txt
/data/*.csv
/data/dependencies.zip
/data/data_npm.zip
/old/
.project
.pydevproject
.classpath
.idea/
.settings/
/
/Tests.txt
/_2018SS.iml
/groovy-core-master/
**test.java
