/.gradle/
/bin/
private_tokens.txt
/data/*.csv
/data/dependencies.zip
/data/data_npm.zip
/data/data_meta_all_files.zip
/old/
.project
.pydevproject
.classpath
.idea/
.settings/
/
/Tests.txt
/_2018SS.iml
/groovy-core-master/
**test.java
**/*.html
/data/NPM/
/data/*.csv
/src/accesstokens.csv